{% extends "temp.html" %} {% block content %}
<!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    function checkAccessToken() {
      $.ajax({
        url: '/access_token_ready/{{ secure_prefix }}',
        type: 'GET',
        success: function (response) {
          if (response.token_ready) {
            // Access token is ready, redirect to the granted page
            window.location.href = '/granted/{{ secure_prefix }}';
          } else {
            // Access token is not ready, poll again after some delay
            setTimeout(checkAccessToken, 2000); // Poll every 2 seconds
          }
        },
        error: function () {
          // Handle errors here, such as by showing an error message
          console.error('Error while checking for access token readiness.');
          setTimeout(checkAccessToken, 2000); // Retry after some delay
        },
      });
    }

    // Start polling
    checkAccessToken();
  });
</script>
<h1>Device Authentication Grant Workflow Sample</h1>
<h2>Token Detection Logic</h2>
<p>
  <strong>NOTE</strong>: Check the
  <a href="{{ url_for('source_sign_in') }}" target="_blank">source</a> for this
  page to see the jQuery script that polls for an access token and loads the
  profile display page when the token is detected after authentication is
  successful.
</p>
<h2>URL and User Code</h2>
<ul>
  <li><strong>URL: {{ verification_url }}</strong></li>
  <li><strong>User Code: {{ user_code }}</strong></li>
</ul>
<h2>QR Code</h2>
<p><img src="./static/qr_code.png" alt="QR Code" class="right-image" /></p>
{% endblock %}
